<div *ngIf="planet">
<h1>{{planet.name}}</h1>

<table>
  <tr>
    <td>Climate</td>         <td>{{planet.climate}}</td>
  </tr><tr>
    <td>Days per Year</td>   <td>{{planet.orbital_period}}</td>
  </tr><tr>
    <td>Diameter</td>        <td>{{planet.diameter}}</td>
  </tr><tr>
    <td>Gravity</td>         <td>{{planet.gravity}}</td>
  </tr><tr>
    <td>Hours per Day</td>   <td>{{planet.rotation_period}}</td>
  </tr><tr>
    <td>Surface Water</td>   <td>{{planet.surface_water}}</td>
  </tr><tr>
    <td>Terrain</td>         <td>{{planet.terrain}}</td>
  </tr>
</table>
</div>