<h2>All Planets</h2>

<table matSort (matSortChange)="sortData($event, sortedPlanets)"
    class="table table-striped" *ngIf="sortedPlanets && sortedPlanets.length > 0">
  <thead>
      <tr>
          <th mat-sort-header="name">Planet Name</th>
          <th mat-sort-header="population">Population</th>
          <th mat-sort-header="diameter">Diameter</th>
          <th mat-sort-header="terrain">Terrain</th>
          <th mat-sort-header="orbital_period">Length Of Year</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let planet of sortedPlanets" (click)="onSelect(planet)">
          <td>{{planet.name}}</td>
          <td>{{planet.population}}</td>
          <td>{{planet.diameter}}</td>
          <td>{{planet.terrain}}</td>
          <td>{{planet.orbital_period}}</td>
      </tr>
  </tbody>
</table>
