.page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.no-padding {
    padding: 0px;
}

.page-padded {
    padding: 20px 10px;
}

.error {
    color: Red;
}

.narrow {
    width: 100px;
}
