.page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hflex-container {
    display: flex;
    flex-direction: row;
}

.vflex-container {
    display: flex;
    flex-direction: column;
}

// button.narrow {
//     padding: 0px;
// }

// span.mat-button-wrapper {
//     padding: 0px;
// }

div.no-padding {
    padding: 0px;
}

.page-padded {
    padding: 20px 10px;
}

button.nav-button {
    outline:none;
}
