/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.hflex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vflex-container {
    display: flex;
    flex-direction: column;
}

button.action {
    color:#FF5252;
    outline: none;
    font-weight: bold;
    text-transform: uppercase;
}